.discount {
    flex-wrap: wrap;
    border-radius: 12px;
    height: 100%;
    padding-right: 32px;
    background: linear-gradient(45deg,
            rgba(51, 153, 51, 1),
            rgba(11, 113, 11, 1));
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.discountTxt { 
    margin-top: 24px;
    text-align: center;
    font-size: 64px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: white;
}

.discountItems {
    grid-auto-rows: wrap;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    /* flex-direction:column-reverse; */
}

.discountInput {
    font-size: 20px;
    height: 58px;
    background-color: rgba(255, 255, 255, 0);
}

.discountInput::placeholder {
    color: white;
}

.hands img {
    bottom: 0;
    width: 748px;
    /* height: 360px; */
    object-fit: cover;
    margin-left: 32px;
    margin-top: 23px;
    position: absolute;

    max-width: 100%;
    height: auto;
    display: block;
}
.form{
    margin-top: 40px;
}
