.discount {
    flex-wrap: wrap;
    border-radius: 12px;
    height: 100%;
    padding-right: 32px;
    background: linear-gradient(45deg,
            rgba(51, 153, 51, 1),
            rgba(11, 113, 11, 1));
    display: flex;
    flex-direction: column;
    
}

.discountTxt { 
    margin-top: 24px;
    text-align: center;
    font-size: 64px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: white;
}

.discountItems {
    grid-auto-rows: wrap;
    display: grid;
    grid-template-columns:  3fr 2fr;
    
    
    /* flex-direction:column-reverse; */
}

.discountInput {
    font-size: 20px;
    height: 58px;
    background-color: rgba(255, 255, 255, 0);
}

.discountInput::placeholder {
    color: white;
}


.form{
    margin-top: 40px;
  
}
.img_hands {
    
    bottom: 0;
  
    position: absolute;
    max-width: 100%;
    display: block;
    
    width: 748px;
    height: 360px;
    object-fit: cover;
   
    object-position: right;
    margin-left: 60px;
}
.img_container{
    position: relative;
    display: flex;
}
.img_handsMobile{
    display: none;
}

@media (max-width: 360px) {
    .img_hands {
        display: none;
    }

    .discountTxt {
        font-size: 40px;
    }

    .discount {
        margin: 0 20px;
    }

    .forHands{
     border-bottom-right-radius: 12px;
     border-bottom-left-radius: 12px;
        height:232px ;
     background-position:  center ;
     background-size:  144%;
     background-repeat: no-repeat;
     background-image: url(../../media/discount.png);
     background-position-y: 10px;
    }

    .img_handsMobile {
        width: 454px; /* Take up the full width of the container */
        height: 232px; /* Take up the full height of the container */
        object-fit: cover; /* Cover the container with the image, cutting off excess */
        display: block;
        
    }
    .discount {
       
        background: linear-gradient(45deg,
                rgba(51, 153, 51, 1)5%,
                rgba(11, 113, 11, 1))70%;
        
        
    }
}
