.sortAllContainer{
    gap: 40px;
    display: flex;
    align-items: center;
    border: 1px solid red;
    display: flex;
    margin-left: 40px;
    width: fit-content;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;

}
.price_filter input{
    width: 112px;
    height: 36px;
    margin-right: 16px;
    
}
.discount_filter input{ 
    width: 36px;
    height: 36px;
  }
  .discount_filter{
   display: flex;
   align-items: center;
  }

.sorted_filter{
    display: flex;
    align-items: center;
    justify-content: center;
}