.checkout_btn{
    /* margin-left: 40px; */
    /* top: 0; */
    /* position: relative; */
    width: 218px;
    height: 58px;
    padding: 10px 20px;
    /* margin-top: 40px; */
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    background-color: rgba(51, 153, 51, 1);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.checkout_btn:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}