.checkout_btn{
   white-space: nowrap;
    width: 218px;
    height: 58px;
   
    /* margin-top: 40px; */
    
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    background-color: rgba(51, 153, 51, 1);

    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer; 
}
.checkout_btn:hover{
    width: 218px;
    cursor: pointer;
    color: white;
    background-color: rgb(0, 0, 0);
 
    
}
.addedBtn{
background-color: white;
font-size: 20px;
font-weight: 400;
width: 218px;
height: 58px;
padding: 10px 20px;

border-radius: 6px;
cursor: pointer;
border: 1px solid var(--light-grey);
outline: none; 
box-shadow: none;
}

@media (max-width: 1000px){
    
    .BtnHome{
        margin-bottom: 210px;
    }
    
}

@media (max-width: 768px) {
    
    
}

@media (max-width: 480px) {
    
  .checkout_btn{
    margin-left: 40px;
  }
    
}


@media (max-width: 360px){
    .wrapper {
        margin: 0 20px;
        max-width: 360px;
    }
    
    
}
