.linkButton{
   
    white-space: nowrap;
    height: 36px;
    padding: 8px 16px;
    color:  #8B8B8B;
    border-radius: 6px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    border: 1px solid  rgb(229, 229, 229);
    font-weight: 500;
    background-color: white;
  
}

.linkButton:hover {
    cursor: pointer;
    color: white;
    background-color: #000000;
}

 .laneButton{
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px;
        
    }
    @media (max-width: 360px){
        .wrapper {
            margin: 0 auto;
            max-width: 360px;
        }
     
        .linkButton{
       display: none;
        }
     }
     
     @media  screen and (max-width:1440px) and (min-height:360px) {
        .linkButton a{
            display:block;
          
          
             }
           
    
    }