

.discount_form {
   width: 100%;
    /* margin-top: 56px; */
    /* margin-right: 32px; */
    display: flex;
    flex-direction: column;
 
}
.discount_form input {
   
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.discountInput input {
    font-size: 20px;
    height: 58px;
    background-color: rgba(255, 255, 255, 0);
}
.discountInput input::placeholder {
    color: white;
    text-indent: 30px;
}

.blackPlaceholder input{
    font-size: 20px;
    height: 58px;
    background-color: rgb(255, 255, 255);
}
.blackPlaceholder input::placeholder{
    color: rgb(92, 92, 92);
    text-indent: 30px;
}
.couponBtn {
    margin-top: 16px;
    width: 100%;

    height: 58px;
    background-color: #fff;
    border: 0px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

button:hover {
    color: white;
    background-color: #000000;
}