

.discount_form {
    margin-right: 32px;
   /* width: 100%; */
    /* margin-top: 56px; */
    /* margin-right: 32px; */
    display: flex;
    flex-direction: column;
 
}
.discount_form input {
   
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.discountInput input {
    font-size: 20px;
    height: 58px;
    background-color: rgba(255, 255, 255, 0);
}
.discountInput input::placeholder {
    color: white;
    text-indent: 10px;
}

.blackPlaceholder input{
    font-size: 20px;
    height: 58px;
    background-color: rgb(255, 255, 255);
}
.blackPlaceholder input::placeholder{
    color: rgb(92, 92, 92);
    /* text-indent: 30px; */
}
.couponBtn {
    margin-top: 16px;
    width: 100%;

    height: 58px;
    background-color: #fff;
    border: 0px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.couponBtn:hover {
    color: rgb(255, 255, 255);
    background-color: #000000;
}
.discount_form input {
    padding-left: 20px;
    width: 100%;
}
/* .couponBtn:hover {
    background: var(--light-grey);
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: var(--green);
}*/
.disabledBtn {
    margin-top: 16px;
    width: 100%;
    height: 58px;
    background: var(--light-grey);
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    border-radius: 12px;
    color: var(--green);
} 
label{
    width: 100%;
    position: relative;
}
.error__message{
    position: absolute;
    top: 80%;
    color: red;
    left: 0;
    font-size: 12px;
}
@media (max-width: 768px) {
    .discount_form{
      margin-left: 20px;
   margin-right: 20px;
    }
  
}
