
.categoriesAllContainer img {
  width: 316px;
  height: 360px;

}

.categoriesContainer {
    display: flex;
    gap: 29px;
    margin-bottom: 80px;
    flex-wrap: wrap;
  }
.categoriesContainer a{
  text-decoration: none;
  color: rgb(40,40,40);
  font-size: 20px;
  font-weight: 600;
}

.categories{
 padding: 0 40px ;
}

.categoriesItem {
  width: 248px;
  height: 350px;
  border-radius: 12px;
  object-fit: cover;
  transition: box-shadow 0.2s ease-in-out, transform 0.5s ease-in-out;
}

.categoriesItem:hover{
  box-shadow: 2px 1px 12px rgb(126, 126, 126);
  transform: scale(1.01);
 
}



.categoriesName {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 360px){
  .categoriesContainer {
    display: flex;
    gap: 29px;
    margin-bottom: 80px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .categoriesAllContainer img {
    width: 320px;
    height: 220px;
  }
  .categoriesAllContainer img {
    width: 316px;
    height: 360px;

}

}
  

