.basketAllContent{
    display: flex;
    gap: 20px;
    /* flex-direction: column; */
}
.productTxtAll{
    padding: 32px;
    display: flex;
    flex-direction: column;
}
.productsImg{
    height: 284px;
    width: 100%;
    object-fit: cover;
    border-bottom: 1px solid rgb(221,221,221);
    overflow: hidden;
}
.productsContainer{
   
    flex:1;
   
    }

.productTitle{
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    }

   
.productsAllTitle{
    font-size: 64px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
.ProductCard{
    object-fit: cover;
   display: flex;
    
    
    overflow: hidden;
    border-radius: 12px;
    border: 1px solid rgb(221,221,221);
    
}
.productPrices{
    /* margin: 0 20px 20px;
    display: flex;
    align-items: baseline;
    gap: 16px; */
    display: flex;
    gap: 32px;
    align-items: end;
    

}
.discount_price{
    
    font-size: 20px;
    text-decoration: line-through;
    color: rgba(139, 139, 139, 1);
}
.productPrice{
    color:  #282828;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}


.ProductCard {
 position: relative;
 }

.imgContainer{
   height: 180px;
   width: 200px;
}
.controlAll{
   
    display: flex;
   gap: 32px;
}
/*-----------*/
.control button, .control p {
  outline: 1px solid #ddd; 
  margin: 0; 
}

.control > p {
    width: 96px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items:  center;
}

.control {
    border: 1px solid var(--grey-divider);
    margin-top: 32px;
    display: flex;
  border-radius: 12px;
}

.cardPriceContainer{
    display: flex;
    align-items: end;
}
.control button{
    width: 58px;
    aspect-ratio: 1;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.allPrice{
    display: flex;
   align-items: end;
}
.OrderDetails{
    height: 100%;
    width:518px;
    background-color: rgba(241, 243, 244, 1);
    display: flex;
    flex-direction: column;
    gap:24px ;
    padding: 32px;
    border-radius: 12px;

}
.OrderDetails h3{
    font-weight: 700;
    font-size: 40px;
}
.ItemsCostTotal{
 font-size: 56px;
font-weight: 700;
line-height:  61.6px ;
color: black;
}

.OrderDetailsTxt{
    display: flex;
    flex-direction: column;
    color: rgb(139, 139, 139);
    font-size: 40px;
    
    
}
.TotalPrice{
    display: flex;
    align-items: baseline;
    gap: 32px;
}
.buttonGreyContainer{
    display: flex;
    align-items: center;
    max-width: 1400px;
   
}
.buttonGreyContainer h2{
   margin-top: 40px;
}
.TotalAndPrice{
    display: flex;
    justify-content: space-between;
}
.TotalAndPrice p{
    color: rgb(139, 139, 139);
    font-size: 40px;
}
.control span{
    
    text-align: center;
    width: 90px;
    padding: 20px;
}
.closeBtn {
   
    position: absolute;
    right: 0;
    padding: 32px;
}

 .closeBtn::before {
    content: '\2715'; /* Unicode for MULTIPLICATION X */
    font-size: 24px;
    display: inline-block;
    /* Adjust spacing as needed */
}

 .closeBtn {
   
    border: none; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: rgba(255, 255, 255, 0);
    transition: transform 0.3s ease;
   
    color: black; 
}

 .closeBtn:hover {
    cursor: pointer;
    transform: rotate(360deg); 
}
.productsContainerCards{
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.orderBtn{
    white-space: nowrap;
     width: 100%;
     height: 58px;
     padding: 10px 20px;
     /* margin-top: 40px; */
     
     font-size: 20px;
     font-weight: 500;
     text-decoration: none;
     background-color: rgba(51, 153, 51, 1);
     
     color: white;
     border: none;
     border-radius: 6px;
     cursor: pointer;
 }
 .orderBtn:hover{
     cursor: pointer;
     border: 1px solid var(--light-grey);
     background-color: rgb(0, 0, 0);
     color: rgb(255, 255, 255);
 }
 .modalTxt{
   
    font-weight: 300;
    font-size: 20px;
    color: var(--txt-white);
}
 .congratulations{
    font-size: 40px;
    margin-bottom: 24px;
    font-weight: 500;

}
.modalTxt p:not(:last-child){
 margin-bottom: 10px;
}
.greybtnMainPage{
 
    margin-top: 20px;
}
@media (max-width:1440){

}
@media (max-width:1000px){
    .basketAllContent{
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
    .OrderDetails{
        height: 100%;
        width:100%;
        background-color: rgba(241, 243, 244, 1);
        display: flex;
        flex-direction: column;
        gap:24px ;
        padding: 32px;
        border-radius: 12px;
    
    }
   
}
@media (max-width: 768px){
    .controlAll{
   flex-direction: column;
        display: flex;
       gap: 20px;
    }
    .productTxtAll{
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
    .control {
        border: 1px solid var(--grey-divider);
        margin-top: 20px;
        display: flex;
      border-radius: 12px;
    }
}
@media (max-width: 480px){
    .control button{
        width: 58px;
        aspect-ratio: 1;
        border: 1px solid #ddd;
        background-color: #fff;
        border-radius: 6px;
        cursor: pointer;
    }.buttonGreyContainer{
        margin-bottom: 0px;
        margin-top: 0px;
        display: flex;
        align-items: center;
        max-width: 1400px;
    }
}