@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
abbr{
    text-decoration: none;
}
.productsImg{
    height: 284px;
    width: 100%;
    object-fit: cover;
    border-bottom: 1px solid rgb(221,221,221);
    overflow: hidden;
}
.productsContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
   
    }

.productTitle{
    
    margin:20px 32px 16px;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    }
/* .productTitle:hover{
max-width: none;
overflow:visible;
text-overflow:clip;
background-color: rgb(134, 14, 14);
} */
   
.productsAllTitle{
    font-size: 64px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
.ProductCard{
    object-fit: cover;

    width: 316px;
    
    overflow: hidden;
    border-radius: 12px;
    border: 1px solid rgb(221,221,221);
    
}
.productPrices{
    margin: 0 20px 20px;
    display: flex;
    align-items: baseline;
    gap: 16px;

}
.discount_price{
   
    font-size: 20px;
    text-decoration: line-through;
    color: rgba(139, 139, 139, 1);
}
.productPrice{
    color:  #282828;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 44px */
}
/* ProductsPage.module.css */

.ProductCard {
    position: relative;
    height: 422px;
   width: 316px;
    /* Other styles for ProductCard */
  }
  
  .discountPercentage {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 5px;
    /* Other styles for discountPercentage */
  }
  
.greenDiscount{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    position: absolute;
    right: 16px;
    top: 16px;
    width: 63px;
    height: 34px;
    background-color: green;
    z-index: 1;
}
.imgBtnContainer{
   position: relative;
   
}
.btn{
    /**/
    position: absolute;
    margin-top: 30%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.5s;
}
.ProductCard:hover .btn{
   top:50%;
   opacity: 1;
}
.txtDiscount{
    color: white;
    padding: 4px 8px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}
.productsAllTitle {
margin-block: 40px;
}