

.buttonGreyContainer{
    
    display: flex;
    align-items: center;
    margin-block: 40px;
}
.buttonGreyContainer p{
    margin: 20px;
    
}
.looksLike{
    font-size: 20px;
    margin-top: 32px;
}
.greybtnMainPage{
    
    margin-top: 40px;
    
}
.buttonGreyContainer{
    display: flex;
    justify-content: space-between;
    margin-block: 40px;
    
}
.looksLike{
    margin-bottom: 20px;
}
.greybtnMainPageMob{
    display: none;
}
@media (max-width: 1440px) {
    
}
@media (max-width: 1000px) {
  
}
@media (max-width: 768px){
   
}

@media (max-width: 480px) {
 .looksLike{
    margin-left: 20px;
    text-align: left;
 }
    .buttonGreyContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        
      
       
    }
    .greybtnMainPage{
        display: none;
    }
    .greybtnMainPageMob{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-block: 40px;
    }
    
    

}