/* .categoriesAllContainer img {
    width: 316px;
    height: 360px;

} */
.greenBtn{
    margin-left: 32px;
    margin-top: 20px;
}

.banner {
    background-image: url(../../media/checkOut.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bannerText {
    margin-top: 40px;
   max-width: 1440px;
    
    color: rgb(255, 255, 255);
    font-weight: 700;

}
.buttonGreyContainer{
    /* margin-bottom: 40px;
    margin-top: 80px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    position: relative;
}
.bannerTxt{
    padding-top: 20px; 
    background-clip: content-box;
}

.greybtnMainPage{
    margin-top: 40px;
}
 
@media  screen and (max-width:3440px) and (min-height:360px) {
     .btnLinkMob{
        display: none;
      }
      .banner{
        padding-bottom: 210px;
        }
      
}

    @media(max-width:1440px){
    .banner{
    padding-bottom: 210px;
    }
    }

    @media (max-width: 1440px){
    .banner{
    padding-bottom: 120px;
        }
    }

    @media (max-width: 1000px) {

   
        .banner{
            padding-bottom: 326px;
           }
    }  
    
    
    @media (max-width: 768px) {
        .banner{
            padding-bottom: 326px;
            height: 600px;
            }
         .greybtnMainPage{
          display: none;
         }

            }

    @media (max-width:480px){
            .banner {
                margin-top: none;
                max-width: 480px;
                height: 100%;
                background-size: cover;
                background-position: center;
                padding-bottom: 250px;
            }
            .bannerText{
                margin-top: none;
            }
            .wrapper {
                margin: 0 auto;
                max-width: 360px;
            }
           
            .btnLinkMob{
               margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 50px;
                margin-bottom: 40px;
              
            }
           
        }
    
