.categoriesAllContainer img {
    width: 316px;
    height: 360px;

}
.greenBtn{
    margin-left: 32px;
    margin-top: 20px;
}

.banner {
    background-image: url(../../media/checkOut.jpg);
    width: 1440px;
    height: 600px;
    background-size: cover;
}

.bannerText {
    margin-top: 40px;
    margin-left: 40px;
   
    line-height: 110%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    color: rgb(255, 255, 255);
    font-size: 96px;
    font-weight: 700;

}
.buttonGreyContainer{
    /* margin-bottom: 40px;
    margin-top: 80px; */
    display: flex;
    align-items: center;
    
    max-width: 1400px;
}
.bannerTxt{
    padding-top: 20px; 
    background-clip: content-box;
}

.greybtnMainPage{
    margin-top: 40px;
}
@media (max-width:360px){
    .banner {
        background-image: url(../../media/checkOut.jpg);
        width: 360px;
        height: 600px;
        background-size: cover;
        background-position: center;
    }
    .bannerText{
        font-size: 52px;
    }
    
}
