@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.banner{
    top:128px;
    width: 100vw;
    position: absolute;
}
.bannerText {
    width: 1100px;
    margin-top: 80px;
    position: relative;
    line-height: 110%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    
    color: rgb(255, 255, 255);
    font-size: 96px;
    font-weight: 700;
    }
.checkout_btn{
    top: 0;
    position: relative;
    width: 218px;
    height: 58px;
    padding: 10px 20px;
    margin-top: 40px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    background-color: rgba(51, 153, 51, 1);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.checkout_btn:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.categoriesContainer {
    margin-top: 392px;
    margin-left: 40px;
}

.categories {
    color: rgb(0, 0, 0);
    font-size: 64px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;

}

.card {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-top: 40px;
    width: 316px;
    height: 350px;
}

.cardAll {
    display: flex;
    gap: 20px;
}
.cardTxt{
    font-size: 20px;
}

