.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modalContent {
    max-width: 550px;
    background: var(--green);
    padding: 32px;
    border-radius: 12px;
    position: relative;
   
}

/* .closeButton {
    font-size: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
} */
.modalAll{
display: flex;

}
.spaceModalTxt{
  
width: 100px;
height:100px;
}
.closeBtn {
    position: absolute;
    right: 32px;
    top:32px;
}

 .closeBtn::before {
    content: '\2715'; 
    font-size: 34px;
    display: inline-block;
    
}

 .closeBtn {
    border: none; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: rgba(255, 255, 255, 0);
    transition: transform 0.3s ease;
   
    color: rgb(255, 255, 255); 
}

 .closeBtn:hover {
    cursor: pointer;
    transform: rotate(360deg); 
}

.modalTxt{
   
    font-weight: 300;
    font-size: 20px;
    color: var(--txt-white);
}
 .congratulations{
    font-size: 40px;
    margin-bottom: 24px;
    font-weight: 500;

}
.modalTxt p:not(:last-child){
 margin-bottom: 10px;
}

@media (max-width:480px){
 .modalContent {
    
        margin-right:20px ;
       margin-left: 20px; }
   
}