@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
header {
    /* padding: 0 40px; */
  
    height: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  
}
.navbar a {
  
    font-size: 20px;
    text-decoration: none;
    margin-left: 32px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
   
    color: black;
}

.navbar a:hover {
    color: var(--green);
    text-decoration: underline;
    text-underline-offset: 8px;
    
}
.log{
    width: 70px;
    height: 70px;
}
.line{
    top:128px;
    left:0;
    height: 1px ;
    width: 100%;
    
    position: absolute;
    background-color: rgba(217, 217, 217, 1);
}
.basketItem{
    
    transition: transform 0.3s ease-in-out;
}
.basketItem:hover{
    transform: scale(1.1);
}


    @media  screen and (max-width:1000px) and (min-height:480px)  {
    .navbar{
        display: none;
    }
    .line{
        display: none;
    }
    .BasketBurger{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
       
    }
    }

    @media  screen and (max-width:1000px) and (orientation: landscape){
        .BasketBurger{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
           
        }
        .line{
            display: none;
        }
    }


    @media (max-width: 768px){
    header{
        height: 68px;
    }
    .logo{
        width: 44px;
        height: 44px;
        margin: 20px;
    }
    .navbar{
        display: none;
    }
    
    }


    @media (max-width:480px){
        .navbar{
            display: none;
        }
        .logo{
            width: 44px;
            height: 44px;
        }
        header{
            height: 68px;
        }
        .line{
            display: none;
        }
        .BasketBurger{ 
            margin: 20px 20px;
        }
        
    }