@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
header {
    padding: 0 40px;
    max-width: 1440px;
    height: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  
}
.navbar a {
  
    font-size: 20px;
    text-decoration: none;
    margin-left: 32px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
   
    color: black;
}

.navbar a:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
    color: inherit;
}
.log{
    width: 70px;
    height: 70px;
}
.line{
    top:128px;
    left:0;
    height: 1px ;
    width: 100%;
    
    position: absolute;
    background-color: rgba(217, 217, 217, 1);
}
.basketItem{
    
    transition: transform 0.3s ease-in-out;
}
.basketItem:hover{
    transform: scale(1.1);
}

@media (max-width:360px){
    .navbar{
        display: none;
    }
    .logo{
        width: 44px;
        height: 44px;
    }
    header{
        height: 68px;
    }
    .line{
        display: none;
    }
}