@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
.contact{
    color: rgb(0, 0, 0);
    font-size: 64px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin-bottom: 40px;
}
.thin{
    color: rgba(139,139,139,1);
    font-weight: 100;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 16px;
}
.bold{
    font-weight: 600;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
}
.contact_details{
    border: 1px solid green;
    position: relative;
    height: 800px;
}

.phone, .social, .adress, .working_hours{
    background-color: rgba(241, 243, 244, 1);
    padding: 32px;
    border-radius: 12px ;
    
  }
  .phone{
    width: 780px;
    height: 150px;
  }
  .social{
    width: 548px;
    height: 150px;
}
  .icons{
    display: flex;
    gap: 16px;
  }
  .adress{
    width: 780px;
    height: 194px;
  }
  .working_hours{
    width: 548px;
    height: 194px;
  }

.top_footer{
height:150px ;
display: flex;
gap: 32px;
margin-bottom: 32px;
}
.bottom_footer{
height:194px ;
display: flex;
gap: 32px;
margin-bottom: 32px;
}
.map{
    border-radius: 12px;
    overflow: hidden;
margin-bottom: 80px;
}