@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.linkButtonContainer{
    width: 1360px;
    display: flex;
    justify-content: center;
  align-items: center;
  margin-left: 40px;

  
    
}
.title{
  padding-right:32px ;
  font-family: "Montserrat", sans-serif;
  color: rgb(40, 40, 40, 1);
  font-size: 64px;
  font-weight: 700;
}
.greyLane{
   
    width: 100%;
    height: 1px;
    border-top: 1px solid black;
}