.linkButtonMobile  {
    display: none;
    white-space: nowrap;
    height: 36px;
    padding: 8px 16px;
    color: #8B8B8B;
    border-radius: 6px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    border: 1px solid rgb(229, 229, 229);
    font-weight: 500;
    background-color: white;
    
  
}

.linkButtonMobile:hover {
    cursor: pointer;
    color: white;
    background-color: #000000;
}

 /* .linkButtonMobile{
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        
    } */


@media (max-width:768px){
    .linkButtonMobile{
        display: block;
    }
}

    @media (max-width: 360px){
        .wrapper {
            margin: 0 auto;
            max-width: 360px;
        }
        .linkButtonMobile{
            display: none;
        }
        
     }
     
   