
.linkButtonContainer{
   
 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    
   
}
.title{
  background-color: white;
  white-space: nowrap;
  padding-right:32px ;
  color: rgb(40, 40, 40);
position: relative;
 }
.greyLane{
    margin-top: 40px;
    position: absolute;
 right: 0;
 left: 50px;
    border-top: 1px solid rgb(139,139,139);
    z-index: -1;
}