
.linkButtonContainer{
   
 
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 20px; */
    
   
}
.title{
 
  background-color: white;
  white-space: nowrap;
  padding-right:32px ;
  color: rgb(40, 40, 40);
  position: relative;
 }
.greyLane{
    margin-top: 40px;
    position: absolute;
    
    right: 0;
    left: 0;
    border-top: 1px solid var(--grey-divider);
    z-index: -1;
}
.title h2{
  margin-top:0px;
}
@media(max-width:1000px){
  
}
@media(max-width:768px){
  .greyLane{
    display: none;
  }
  .title h2{
    margin-top: 40px;
  }
  
}