@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.wrapper{
    /* margin: 0 40px ; */
    margin: 0 auto;
    /* display: flex; */
    max-width: 1440px;
    

}
/* .page_container {
    padding: 0 40px; 
    max-width: 100%; 
  } */
:root{
    --green: rgb(51, 153, 51);
	--white: rgb(255, 255, 255);
	--black: rgb(40, 40, 40);
	--grey-divider: rgb(221, 221, 221);
	--grey: rgb(139, 139, 139);
	--light-grey: #f1f3f4;
	--txt-black: rgb(40, 40, 40);
	--txt-white: rgb(255, 255, 255);
	--txt-grey: rgb(139, 139, 139);
}
h2 {
    margin-top:80px;
    margin-bottom: 40px;

    
    font-size: 64px;
    font-weight: 700;
    padding-right: 32px;
}
  
@media (max-width: 1000px){
    .wrapper {
        margin: 0 auto;
        max-width: 360px;
    }
    h1{
        font-size:52 ;
    }
    h2{
        font-size:40px ;
         margin: 56px 0 24px;


    }
    
 }