.addCardtBtn {
    margin-top: 14px;
}

.controlAll button,
.controlAll span {
    outline: 1px solid #ddd;
    margin: 0;
    width: 100%;
}

.controlAll span {
    position: absolute;
    left: 40px;
    height: 100%;
}

.controlAll span {

    text-align: center;
    width: 90px;
    padding: 20px;
}


.controlBtn {
    position: relative;
}

.controlBtn button:first-child {
    position: absolute;
}

.controlBtn button:last-child {
    position: absolute;
    left: 100px;
}

.controlBtn button {
    font-size: 30px;
    width: 58px;
    aspect-ratio: 1;
    color: var(--txt-grey);
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
    z-index: 5;
}


.cardContainer {
    margin-top: 80px;
    display: grid;
    grid-gap: 0 32px;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas:
        "img  title  title"
        "img price price"
        "img control control"
        "img  description  description";
    /* grid-template-rows: 70px 80px 140px; */
}

.title {
    grid-area: title;
    margin-bottom: 60px;

}

.img {
    grid-area: img;

    width: 100%;
   


}

.img img {
    position: relative;
    border-radius: 12px;
    width: 100%;
    
}

.control {
    grid-area: control;
}

.price {
    grid-area: price;
}

.cardPrice {
    display: flex;
    align-items: baseline;
    
}

.currentPrice {
    margin-top: 0;
    margin-right: 32px;
}

.oldPrice {
    color: var(--grey);
    text-decoration: line-through;
    margin-bottom: 20px;
    font-weight: 500;
}

.description {
    min-width: 300px;
    grid-area: description;

}

h4 {
    margin-left: 14px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    align-self: start;
    
    width: 63px;
    height: 34px;
    background-color: var(--green);
    z-index: 1;
}

.discountSmall {
    display: none;
}



@media (max-width:1440px) {
    .cardContainer {
        grid-gap: 0 32px;

        grid-template-columns: 50%;
    }

    .oldPrice {
        font-size: 40px;
    }

    .cardContainer {

        display: grid;
        grid-gap: 0 32px;
        grid-template-columns: 50%;
        grid-template-areas:
            "img  title  title"
            "img price price"
            "img control control"
            "img  description  description";
        /* grid-template-rows: 70px 80px 140px; */
    }
}

@media screen and (max-width:1000px) and (min-height:768px) {
    .cardContainer {
        margin-top: 20px;
        display: grid;
        grid-gap: 10px 20px;
        grid-template-areas:
            "img  title  title"
            "img  price price"
            "img  control control"
            "description  description  description";
        grid-template-rows: 150px 58px 150px;
        grid-template-columns: 50%;
    }

    .oldPrice {
        font-size: 32px;
    }
}


@media(max-width:580px){
/* .cardContainer{
    display: grid;
        grid-gap: 10px;
        grid-template-areas:
            "title  title  title"
            "img price price"
            "img control control"
            "description  description  description";
        grid-template-rows: 120px 50px auto;
        grid-template-columns: 50% 40% 0%;
} */
}

@media (max-width:768px) {
    .discount {
         display: none;
    }
    .img {
        position: relative;
    }

    .discountSmall  {
        display: flex;
        position: absolute;
        top: 16px;
        right: 16px;
    }
   

    .cardContainer {
        display: grid;
        grid-gap: 10px;
        grid-template-areas:
            "title  title  title"
            "img price price"
            "img control control"
            "description  description  description";
        grid-template-rows: 120px 50px auto;
        grid-template-columns: 50% 40% 0%;
    }

    .oldPrice {
        /* font-size: 28px; */
        margin-bottom: 4px;
        /* padding-bottom: 0; */
    }

    .addCardtBtn {
        margin-top: 14px;
        margin-right: 20px;
    }
}


@media (max-width:480px) {
    .title h3, .description {
     margin: auto 20px;

    }

    .cardContainer {

        display: grid;
        grid-gap: 12px;
        grid-template-columns: 100%;
        grid-template-areas:
            "title"
            "img"
            "price "
            "control "
            "description ";
            grid-template-rows: auto;
            grid-template-columns: 100%;
    }

    .currentPrice {
        margin-top: 0px;

        margin-bottom: 0px;

    }

    .oldPrice {

        margin-bottom: 4px;
        padding-bottom: 0;
    }

    .title {
        margin-bottom: 0;
    }

    .price {
        display: flex;
        justify-content: center;
    }

    .controlAll {
        display: flex;
        flex-direction: column;
        align-items: center;
}

    .img img {
        position: relative;
     

    }
   

}